.idea
.phpunit.result.cache
build
composer.lock
composer-local.json
coverage
docs
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules

# Test results and coverage
/test-results/
*.coverage
.phpunit.cache/
